.head {
  width: 45%;
  font-size: 2.8rem;
  margin: 0;
  color: #e0e0e0;
}
.img-container {
  background-color: #0d0b0b;
  float: right;
  width: 50%;
  margin-right: 10%;
}
.head > p {
  margin: 0;
  padding: 0;
}
.greet {
  display: inline-block !important;
  font-size: 7rem;
  color: #00b8d4;
}
.subhead {
  font-style: italic;
  font-weight: normal;
  color: #e0e0e0;
  margin: 0;
  font-size: 2.2em;
  margin-top: 2%;
}
.head,
.subhead {
  position: relative;
  animation-name: slide;
  animation-duration: 1000ms;
}
@media (min-width: 1441px) {
  .head {
    font-size: 4rem;
  }
}
@media (max-width: 1199.98px) {
  .head {
    width: 90%;
    font-size: 2rem;
  }
  .greet {
    font-size: 5rem;
  }
  .subhead {
    font-size: 1.6em;
  }
}
@media (max-width: 991.98px) {
  .head {
    font-size: 2rem;
  }
  .subhead {
    font-size: 1.4em;
  }
}
@media (max-width: 768px) {
  .head {
    width: 90%;
    font-size: 1.5rem;
  }
  .greet {
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .home-content {
    padding-top: 10%;
  }
  .head {
    font-size: 1rem;
  }
  .greet {
    font-size: 2rem;
  }
  .subhead {
    font-size: 1.4em;
  }
}
@media (max-width: 375px) {
  .greet {
    font-size: 1.5rem;
  }
  .subhead {
    font-size: 1.2em;
  }
}
